<!html>
<HTML>
  <HEAD>
    <link rel="stylesheet" type="text/css" href="my website style.css">
  </HEAD>
  <BODY>
    <h1> All About Me! </h1>
    <p> This is a document created by me, about me. The more you explore, the more you will learn about me! Have fun exploring!</p>
    <h2> Who Am I? </h2>
      <p> My name is Franchesca Bellevu. I am a 17 year old Haitian American girl who was born and raised in North Miami, FL. I go to Turner Tech and Miami-Dade College and will be graduating in 2018. I am a Sagittarius, which is the best sign. I am number 4 in my class, and plan on becoming the valedictorian. I am a very motivated an eager individual, who yearns for success. This year is my last year of high school, after high school I plan on moving to Washington, DC to attend college at Howard University.
        <p></p>
      <img src="haiti1806.gif" width="300">&nbsp;&nbsp;&nbsp;<img src="hU.jpg" width="300">&nbsp;&nbsp;&nbsp;<img src="477.jpg" width="300">&nbsp;&nbsp;&nbsp;<img src="Image-1.jpg" width="300">
    <h2> Likes and Dislikes </h2>
      <p> I hate rude people, even though I can sometimes be rude myself, I hate when people are unnecessarily rude. I hate when people eat my food without telling me, and then barely leave anything for myself. I don't lke when people break promises, because ever since I was young my dad used to always break my promises and now I have an attachment to them(lmao, sorry for the little sob story). I like food a lot. I like to be around people, I hate being alone. I like school, my favorite subject is math, and to be more precise, I loveeeee Precalculus.
        <p></p>
      <img src="food.jpg" width="600">&nbsp;&nbsp;&nbsp;<img src="math sign.jpg" width="600">
    <h2> Fun Fact </h2>
      <p> I have never had a boyfriend or a first kiss. Sounds sad lmao, but its by choice. (I know you're probably thinking of the girls who say that but its a lie because they can't get clout, but I'm genuinely being single because I want to be, lol.)</p>
      <p></p>
      <img src="giphy.gif" width="600">
      <h3> Links to my Favorite Sites </h3>
      <a href="twitter.com"> Twitter </a>
      <p></p>
      <a href="instagram.com"> Instagram </a>
      <p></p>
      <a href="snapchat.com"> Snapchat</a>
      <p></p>
    <h2> My Side Scroller</h2>
      <a href="https://scratch.mit.edu/projects/167242811/#fullscreen"> Fourth of July Dash!!! </a>
      <p></p>
      <img src="Screenshot (2).png" width="600">
  </BODY>
</HTML>
